<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        li {padding: 10px;}
    </style>
</head>
<body>

<h3>Welcome to my blog....</h3>

{% block header %}
<div style="width:100%;">
    <ul>
        <li>Sree Blog </li>
        <li><a href="{% url 'home' %}">Home</a> </li>
        <li><a href="{% url 'home_contact' %}">Contact</a> </li>
        <li><a href="{% url 'home_blog' %}">Blog</a> </li>
        <li>Portfolio</li>
        <li>Login </li>
        <li>Sign-Up</li>
    </ul>
</div>

{% endblock %}


{% block main_page %}
<div>
    Hi . iam sree


</div>

<h3>Html forms</h3>

<form>
    Username<input type="text">
    email <input type="text">
    Fullname: <input type="text">
    Mobile :<input type="text">
</form>

<h3>Django forms</h3>
<table>
    {{ my_form.as_table }}

</table>


{% endblock %}
</body>
</html>